html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 1rem;
  background: #e8e8e8;
}

p {
  margin: 0 0 10px 0;
}

.page {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  page-break-after: always;
  border-bottom: 3px solid #d3d8db;
}
